<html>
  <body>
    <center>
      <div style="background-color: #d3d3d3; max-width: 840px; margin: 0; padding: 30px;">
        <h2 style="color: #FF2800; text-align: center">Solicitação de alteração de senha</h2>
        <p>Olá, foi requirido uma troca de senha para a sua conta do TrustNav, sua nova senha é: </p>
        <div style="margin: 20px auto; width: 120px; padding: 10px 20px; background-color: #FF2800; border-radius: 5px">
          <p><b>{{token}}</b></p>
        </div>
        <p>Recomendamos que ao realizar o login faça a mudança de senha imediatamente.</p>
      </div>
    </center>
  </body>
</html>